.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  background-color: #fff;
  flex-wrap: wrap;
}

.contact-card {
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  text-align: center;
  width: 280px;
  transition: transform 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 28px;
  color: #e6007e;
  margin-bottom: 15px;
}
#Contact {
  text-align: center;
  margin-top: 15px;
  font-family: Open Sans;
}
